# Vendor and build directories
node_modules
dist

# Local env files
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Coverage report directories
.nyc_output
tests/coverage

# Miscellaneous
.DS_Store